html{
    font-family: "Open Sans";
    background-color: #DCDCDC;
}

body{
    margin: 0;
    padding: 15px;
    position: absolute;
    left: 9%;
    width: 80%;
    background-color: white;
    text-align: justify;
}

.contact-info{
  margin-bottom: 0;
  margin-top: 0;
}
.column{
  float: left;
  display:inline;
  margin-left:15px;
  font-size: 13px;
  margin-bottom:5px;
  position: relative;
}

.left{
  width: 85%;
}
.right{
  width:9%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.title{
  font-style: italic;
}

#contact-section{
  margin-bottom: 20px;
}
a:link{
color:rgb(0,100,100);
text-decoration:none;
}
a:visited{
color:rgb(0,100,100);
}
a:hover{
color:rgb(0,170,170);
}


img{
    width:300px;
    border-radius:500px;
}
